@{
    ViewData["Title"] = "Enseignants";
}

@model IEnumerable<Teacher>

 <h2>Liste des Étudiants</h2>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Âge</th>
        <th>Spécialité</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var student in Model) {
      <tr>
        <td>@student.Id</td>
        <td>@student.Firstname</td>
        <td>@student.Lastname</td>
        <td>@student.Age</td>
        <td>@student.Major</td>
        <td>
          <a asp-action="ShowDetails" asp-route-id="@student.Id">Détails</a>
        </td>
      </tr>
      }
    </tbody>
  </table></student>
